<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CrowdMatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5606A44D1DE257DF00930FC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5606A4611DE257E000930FC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5606A46C1DE257E000930FC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
